body,
head {
  font-family: "SF Pixelate";
  background-color: grey;
}

@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
@import url("https://fonts.cdnfonts.com/css/sf-pixelate");

h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(left, blue, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Pokemon Solid", sans-serif;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
  font-weight: 400;
}

td {
  font-weight: 400;
}

table {
  border-spacing: 60px 5px;
}

img {
  width: 200px;
  background-color: white;
  border-radius: 20%;
  border-width: 50px;
  border-color: black;
}

button {
  font-family: "SF Pixelate";
}

.pokemon {
  background-color: white;
  padding: 0px 30px 30px 30px;
  border-radius: 30px;
  text-align: center;
  border-width: 20px;
  border-color: black;
}
