@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
@import url("https://fonts.cdnfonts.com/css/sf-pixelate");

body {
  font-family: "SF Pixelate";
  background-image: url(../images/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-bottom: 80px;
}

body::-webkit-scrollbar {
  display: none;
}

header{background-color: #79C9F9;
/* margin: 0px 25vw 0px 25vw; */
text-align: center;
/* padding-bottom: 15px; */
/* border-image: url(../images/frame-hd.png) 42 round; */
/* border-style: solid;
border-width: 21px; */
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 70px;
}

main{margin-left:10vw;
  margin-right:10vw;
  margin-top: 100px;}
  

/* HEADER */
.header ul{list-style-type: none;
  margin: 0 20px 0 20px;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;}
  
.header li{display: inline;
  float: left;
  padding: 0px 15px 0px 15px;
  height: 70px;}
  
  

/* TYPOGRAPHIE, IMAGES, BOUTONS */

h1 {
  font-size: 50px;
  line-height: 58px;
  color: white;
  /* background: -webkit-linear-gradient(top, white, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-family: "Pokemon Solid", sans-serif;
  line-height: 70px;
  margin: 0;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 26px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bolder;
}

nav {
  height: 50px;
}


a, a:visited{text-decoration: none;
font-family: "Pokemon Solid", sans-serif;
letter-spacing: 2px;
color: white;
font-size: 22px;
padding: 0px 30px 7px 30px;}

a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.4s;
  border-radius: 50px;
}

a:active {
  background-color: rgba(255, 255, 255, 0.05);
}

thead {
  font-weight: bold;
}

td {
  font-weight: 400;
  text-transform: capitalize;
}

.nom-pokemon {
  text-transform: capitalize;
}

table {
  border-spacing: 60px 5px;
}

img {
  width: 150px;
  /* border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: black; */
  /* padding: 2vw; */
}

button {
  font-family: "SF Pixelate";
  background-color: white;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.button:after {
  content: ">";
  position: absolute;
  top: 0;
  left: -2px;
  transition: 0.5s;
}

.button:hover:after {
  opacity: 1;
}

input[type="text"] {
  background: rgba(255, 255, 255, 0.396);
  color: darkgray;
  text-align: left;
  border-radius: 20px;
  width: 78.5vw;
  padding: 8px;
  display: block;
  font-family: "SF Pixelate";
  font-size: 16px;
}

/* POKEDEX */

.pokedex-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  background-image: url(../images/background.png);
  position: fixed;
  top: 70px;
}

.pokedex-list {
  margin-top: 250px;
}

.pokedex-list thead {
  position: sticky;
  top: 230px;
  background-image: url(../images/background.png);
  height: 20px;
}

/* Q */

.pokemon {
  background-color: white;
  margin: 0px 100px;
  padding: 0px 30px 30px 30px;
  text-align: center;
  border-image: url(../images/frame-hd.png) 42 round;
  border-style: solid;
  border-width: 21px;
  border-radius: 15px;
}

.poke-info{display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 20px;}

.poke-info table, .poke-info table thead, .poke-info table tbody{text-align: center;}

@media screen and (max-width: 850px){
  .pokemon{margin: 0px;}

  .poke-info table, .poke-info table thead, .poke-info table tbody{width: 100%;}

  .poke-info table thead {
    display: none;
    }

  .poke-info table{margin: 0;}
    
  .poke-info table tbody, .poke-info table td, .poke-info table tr, .poke-info table th{
    display: block;}

  .poke-info table tr {
    margin-bottom: 15px;
  }

  .poke-info table td {
    text-align: right;
    position: relative;
    text-transform: capitalize;
  }

  .poke-info table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    font-weight: bold;
    text-align: left;
  }


}

/* R */

/* .section-reponses{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 100px;
} */

.section-reponses{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;
  padding: 50px 100px;
  justify-items: center;
}

@media screen and (max-width: 1000px){
  .section-reponses{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 50px 100px;
  }
}

@media screen and (max-width: 850px){
  .section-reponses{
    padding: 50px;
  }
}

/* R_SON */

.reponse {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 0px 20px;
  border-width: 1px;
}

.reponse:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.reponse:active {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.reponse p {
  margin-bottom: 10px;
  margin-top: 0;
}

.reponse img{border: none;
width: 100px;
padding: 0;}

.reponse img:hover{transform: scale(1.3);
transition: 0.5s;}

.reponse-selectionnee{background-color: rgba(0, 0, 0, 0.7);
  color: white;}



/* ANSWERSUMMARY */

.recap-reponses{ background-color: rgba(255, 255, 255, 0.5);
border-radius: 20px;
padding: 20px;
margin-top: 20px;
text-align: center;}

.recap-reponses ul{list-style-type: none;
display: flex;
flex-wrap: wrap;
gap: 20px 70px;
justify-content: flex-start;}

.recap-questions{text-align: left;}

.recap-questions li{font-size: 14px;}

.recap-questions img{max-width: 80px;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
padding: 0;}
